body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 50px;
  font: 14px 'Raleway', serif;
  background-image: url('http://vizualize.me/media/backgrounds/cschwartzcreative.png');
}

.logo{
  position: absolute;
  left: 3%;
  top: 3%;
  font-size: 40px;
  z-index: 1;
  font-family: 'Raleyway' serif;
  color: white;
  text-shadow: 0 0 5px black;
  border: .5px solid white;
  padding: 10px;
}

.leftColumnImage {
  position: absolute;
  left: 10%;
  top: 3%;
  border-bottom-left-radius: 40px;
  height: 90%;
  width: 23%;
  background-image: url('../images/ColumnImage2.jpg');
  background-size: 1180px;
  background-position: 75% 50%;
  -webkit-transition: 1s;
  transition: .5s;
  -webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.1)));
}
.leftColumnImage:hover{
  -webkit-box-shadow: 10px 10px 55px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 55px 3px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 55px 3px rgba(0,0,0,0.75);
}

.centerColumnImage {
  position: absolute;
  left: 35%;
  top: 3%;
  height: 90%;
  width: 23%;
  background-image: url('https://static.pexels.com/photos/2996/parking-parking-lot-underground-garage.jpg');
  background-size: 1000px;
  background-position: right;
  transition: .5s;
  -webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.1)));
}
.centerColumnImage:hover{
  -webkit-box-shadow: 10px 10px 55px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 55px 3px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 55px 3px rgba(0,0,0,0.75);
}

.rightColumnImage {
  position: absolute;
  left: 60%;
  top: 3%;
  background-color: yellow;
  border-top-right-radius: 40px;
  height: 90%;
  width: 23%;
  background-image: url('http://www.wallpaperfo.com/thumbnails/detail/20120430/bmw%20cars%20photography%20bmw%20m3%20white%20cars%20bmw%20e92%20parking%20lot%20garage%201920x1200%20wallpaper_www.wallpaperfo.com_11.jpg');
  background-size: 1100px;
  background-position: 45% 20%;
  transition: .5s;
  -webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.1)));
}
.rightColumnImage:hover{
  -webkit-box-shadow: 10px 10px 55px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 55px 3px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 55px 3px rgba(0,0,0,0.75);
}

.glyphiconCenter {
  top: 60%;
  left: 40%;
  font-size: 75px;
  text-shadow: 0 0 5px black;
  color: white;
}

.columnText {
  position: relative;
  top: 80%;
  color: white;
  font-size: 20px;
  display:inline-block;
  text-align: center;
  line-height: 30px;
}

.registrationForm {
  padding: 10px;
  background-color: white;
  border: 1px solid white;
  border-radius: 15px;
  width: 31%;
  position: absolute;;
  top: 10%;
  left: 31%;
}

.plateMessageGroup {
  padding: 10px;
  background-color: white;
  border: 1px solid white;
  border-radius: 15px;
  width: 31%;
  position: absolute;;
  top: 15%;
  left: 31%;
}

.FAQ {
  padding: 10px;
  background-color: white;
  border: 1px solid white;
  border-radius: 15px;
  width: 31%;
  position: absolute;;
  top: 15%;
  left: 31%;
  font-size: 24px;
}

.cancelButtonRegister {
  position: relative;
  left: 45%;
  font-size: 40px;
}
.cancelButtonMessages {
  position: relative;
  left: 45%;
  font-size: 40px;
}
.cancelButtonFAQ {
  position: relative;
  left: 45%;
  font-size: 40px;
}

a {
  color:#B7B7B7;
  text-decoration: none;
}

a:visited{
  color: #B7B7B7;
}

a:hover{
  color: #B7B7B7;
  text-decoration: none;
}

footer {
  position: absolute;;
  top: 95%;
  left: 75%;
  text-decoration: none;
  color: #B7B7B7;
}
