html {
  overflow: -moz-scrollbars-vertical;
}
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 50px;
  font: 14px 'Raleway', serif;
  background-image: url('../images/bg.png');
}

#ccLogo{
  position: absolute;
  width: 300px;
  left: 5%;
}
.logo{
  position: absolute;
  left: 0%;
  top: 3%;
  font-size: 40px;
  z-index: 1;
  font-family: 'Raleyway' serif;
  color: white;
  text-shadow: 0 0 5px black;
  /*border: 1px solid white;*/

  width: 100%;
  height: 25.5%;
  background-color: rgba(0, 0, 0, .4);
}

.leftColumnImage {
  position: absolute;
  left: 10%;
  top: 3%;
  border-bottom-left-radius: 40px;
  height: 90%;
  width: 23%;
  background-image: url('../images/ColumnImage1.jpg');
  background-size: 1180px;
  background-position: 75% 50%;
  -webkit-transition: 1s;
  transition: .5s;
  -webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.1)));
}
.leftColumnImage:hover{
  -webkit-box-shadow: 10px 10px 55px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 55px 3px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 55px 3px rgba(0,0,0,0.75);
}

.centerColumnImage {
  position: absolute;
  left: 35%;
  top: 3%;
  height: 90%;
  width: 23%;
  background-image: url('../images/ColumnImage2.jpg');
  background-size:1180px;
  background-position:  75% 50%;
  transition: .5s;
  -webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.1)));
}
.centerColumnImage:hover{
  -webkit-box-shadow: 10px 10px 55px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 55px 3px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 55px 3px rgba(0,0,0,0.75);
}

.rightColumnImage {
  position: absolute;
  left: 60%;
  top: 3%;
  border-top-right-radius: 40px;
  height: 90%;
  width: 23%;
  background-image: url('../images/ColumnImage3.jpg');
  background-size: 1100px;
  background-position: 45% 20%;
  transition: .5s;
  -webkit-box-reflect: below 1px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.1)));
}
.rightColumnImage:hover{
  -webkit-box-shadow: 10px 10px 55px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 55px 3px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 55px 3px rgba(0,0,0,0.75);
}

.glyphiconCenter {
  top: 60%;
  left: 40%;
  font-size: 75px;
  text-shadow: 0 0 5px black;
  color: white;
}

.columnText {
  position: relative;
  top: 80%;
  color: white;
  font-size: 20px;
  display:inline-block;
  text-align: center;
  line-height: 30px;
}

.registrationForm {
  padding: 10px;
  background-color: white;
  border: 1px solid white;
  border-radius: 15px;
  width: 31%;
  position: absolute;;
  top: 10%;
  left: 31%;
}

.plateMessageGroup {
  padding: 10px;
  background-color: white;
  border: 1px solid white;
  border-radius: 15px;
  width: 31%;
  position: absolute;;
  top: 15%;
  left: 31%;
}

.plateMessageError {

}

.registrationError{

}

.FAQHeader {
  font-size: 18px;
  text-align: center;
}
.FAQ {
  padding: 10px;
  background-color: white;
  border: 1px solid white;
  border-radius: 15px;
  width: 45%;
  position: absolute;;
  top: 15%;
  left: 23%;
  font-size: 18px;
}
.FAQ h1 {
  text-decoration: underline;
}
.FAQBody {
  overflow: scroll;
  height: 300px;
}

.cancelButtonRegister {
  position: relative;
  left: 45%;
  font-size: 40px;
}
.cancelButtonMessages {
  position: relative;
  left: 45%;
  font-size: 40px;
}
.cancelButtonFAQ {
  position: relative;
  left: 45%;
  font-size: 40px;
}

a {
  color:#B7B7B7;
  text-decoration: none;
}

a:visited{
  color: #B7B7B7;
}

a:hover{
  color: #B7B7B7;
  text-decoration: none;
}

footer {
  position: absolute;;
  top: 95%;
  left: 75%;
  text-decoration: none;
  color: #B7B7B7;
}
